{% extends "pages/base.html" %}
{% load static %}
{% block title %}About{% endblock title %}



{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 style="text-align: center;">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">
            At Rom, we're not just selling laptops; we're revolutionizing the way you experience technology. With a passion for innovation and a commitment to quality, Rom is your trusted destination for cutting-edge laptops. Our curated selection showcases the latest in technology, offering powerful performance, sleek designs, and unmatched reliability. Whether you're a professional, a student, or a gamer, we have the perfect laptop to suit your needs. Backed by our dedication to customer satisfaction and years of industry expertise, Rom ensures that you stay connected, productive, and ahead of the curve. Welcome to the future of computing with Rom.
        </p>
    </div>
</div>
<br><br>
{% endblock main-content %}