{% extends "pages/base.html" %}
{% load static %}
{% block title %}About{% endblock title %}


{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 style="text-align: center;">Contact Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Address: 123 Main Street, Cityville, Rom Country, ZIP: 12345</p>
        <p class="fs-4 text-center">Phone: +123-456-7890</p>
        <p class="fs-4 text-center">Email: info@romlaptops.com</p>
        <p class="fs-4 text-center">Fax: +123-456-7891</p>
        <p class="fs-4 text-center">Customer Service Hours: Monday to Friday, 9:00 AM - 5:00 PM (Rom Timezone)</p>
        <p class="fs-4 text-center">Social Media:</p>
        <p class="fs-4 text-center">Facebook: facebook.com/romlaptops</p>
        <p class="fs-4 text-center">Twitter: @rom_laptops</p>
        <p class="fs-4 text-center">Instagram: @romlaptops</p>
        <p class="fs-4 text-center">LinkedIn: linkedin.com/company/rom-laptops</p>
        <p class="fs-4 text-center">YouTube: youtube.com/c/romlaptops</p>
        </p>
    </div>
</div>

<br><br>
{% endblock main-content %}